<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.um.psystem.mapper.platform.sysMapper.DictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.um.psystem.entity.Dictionary">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="update_time" property="updateTime" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="is_fixed" property="isFixed" />
        <result column="name" property="name" />
        <result column="sequence" property="sequence" />
        <result column="status" property="status" />
        <result column="dict_type" property="dictType" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, is_deleted AS isDeleted, update_time AS updateTime, code, description, is_fixed AS isFixed, name, sequence, status, dict_type AS dictType, parent_id AS parentId
    </sql>

</mapper>
